.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
    /* align-items: center; */
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .contact-form label {
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .contact-form button {
    background-color: var(--hunter-green);
    color: var(--platinum);
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: var(--beaver);
  }
  
  .status {
    margin-top: 15px;
    font-weight: bold;
    color: var(--hunter-green);
  }
  