.resume-container {
    padding: 100px;
    max-width: 800px;
    margin: 0 auto;
    align-items: center ;
  }
  
  .resume-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .resume-container p {
    margin: 5px 0;
  }
  
  .resume-section {
    margin-top: 20px;
  }
  
  .resume-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .resume-section ul {
    list-style: none;
    padding: 0;
  }
  
  .resume-section li {
    margin-bottom: 15px;
  }
  
  .resume-section li strong {
    display: block;
    font-weight: bold;
  }
  