:root {
  --hunter-green: #3a5a40ff;
  --black-olive: #213129ff;
  --sage: #aaae8eff;
  --beaver: #a68777ff;
  --platinum: #e0e0e0ff;
}

body {
  background-color: var(--black-olive);
  color: var(--platinum);
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* Ensures it spans the full width */
  margin: 0; /* Removes any unintended margins */
  padding: 0; /* Removes any padding */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}
